# /usr/lib/systemd/system/dnsmasq.service
[Unit]
Description=DNS caching server.
Before=nss-lookup.target
Wants=nss-lookup.target
After=network.target
; Use bind-dynamic or uncomment following to listen on non-local IP address
;After=network-online.target

[Service]
ExecStart=/usr/sbin/dnsmasq
Type=forking
PIDFile=/run/dnsmasq.pid

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/dnsmasq.service.d/override.conf
[Unit]
After=network-online.target

[Service]
Restart=on-failure
RestartSec=20s
