apiVersion: v1
kind: ConfigMap
metadata:
  namespace: kube-system
  name: bgp-config
data:
  config.yaml: |
    peers:
    - peer-address: 172.22.0.1
      peer-asn: {{ ibgp_asn }}
      my-asn: {{ ibgp_asn }}
    address-pools:
    - name: default
      protocol: bgp
      addresses:
      - 172.21.0.0/16
